.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../Materiales/imagenRegistroUsuario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 390px;
  height: 844px;
}

.signUp {
  color: aliceblue;
  margin-top: 0;
}

.inputSignUp {
  margin: 5px;
  height: 20px;
  width: 327.9999867412878px;
  left: 53.0550537109375px;
  top: 268.1948699951172px;
  border-radius: 8px;
  padding: 4px, 8px, 4px, 8px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 16px;
  text-align: center;
  background-color: #ffffff48;
  font-size: 12px;
}

.labelSignUp {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 3%;
}

.botonRegistrarse {
  position: relative;
  display: block;
  height: 30px;
  width: 170px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: white;
  color: rgb(8, 26, 105);
  font-size: 12px;
  overflow: hidden;
  transition: all 1000ms ease;
  box-shadow: 4px 4px 10px rgb(105, 81, 69);
  margin-top: 15px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  border: #e25720 solid 0.5px;
  margin-bottom: 8px;
}

.botonRegistrarse::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #e25720;
  transition: all 500ms ease;
  z-index: -1;
}

.botonRegistrarse::before {
  width: 0;
  height: 100%;
}

.botonRegistrarse:hover {
  color: #ffffff;
}

.botonRegistrarse:hover::before {
  width: 100%;
}

.arrowBackSignUp {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  margin-top: 20px;
}
