.contenedor-pokemon {
  width: 360px;
  height: 640px;
  background: #f57d31;
  border-radius: 24px;
  border: 12px solid #ffffff;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.pokeball {
  filter: invert(1);
  height: 218px;
  width: 247px;
  position: absolute;
  background-image: url("../../Materiales/Pokeball.png");
  background-repeat: no-repeat;
  background-position: 14px 9px;
  opacity: 0.15;
  margin-left: 160px;
  margin-bottom: 47px;
  z-index: 1;
}

.material-icons {
  color: white;
  width: 17.5px;
}

.nombre-pokemon {
  width: 221px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.numero-pokemon {
  width: 35px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header-pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 312px;
  height: 32px;
}

.imagen-y-flecha {
  height: 200px;
  width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 80px;
  z-index: 3;
}
.material-symbols-outlined {
  color: white;
  margin-top: 25px;
  padding-top: 30px;
}

.foto-pokemon {
  width: 200px;
  height: 200px;
  left: 112.62px;
  top: 239.83px;
  z-index: 3;
}

.informacion-pokemon {
  margin-top: 200px;
  width: 352px;
  height: 412px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.img {
  display: flex;
  width: 59px;
  height: 36px;
  font-size: 10px;
  justify-content: space-evenly;
}

.categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 312px;
  height: 20px;
  justify-content: center;
}

.categoria {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 8px;
  width: 35px;
  height: 20px;
  background: #f57d31;
  border-radius: 10px;
  justify-content: center;
}

.categoria-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 8px;
  width: 35px;
  height: 20px;
  background: #f57d31;
  border-radius: 10px;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 312px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #f57d31;
  justify-content: center;
  margin-top: 25px;
}

.contenedor-datos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 280px;
  height: 48px;
}

.contenedor-weight {
  display: flex;
  flex-direction: column;
  width: 59px;
  height: 48px;
  align-items: center;
}

.weight {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  display: flex;
  text-align: center;
  margin: 0px;
  justify-content: center;
}

.contenedor-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 38px;
  height: 48px;
  border-left: 0.5px solid #e0e0e0;
  border-right: 0.5px solid #e0e0e0;
  padding-left: 25px;
  padding-right: 25px;
}

.height {
  width: 38px;
  height: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
  margin: 0px;
  justify-content: center;
}

.contenedor-moves {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65px;
  height: 48px;
  text-align: justify;
  line-height: 16px;
  font-size: 10px;
}

.contenido-moves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65px;
  height: 48px;
  text-align: justify;
  line-height: 16px;
  font-size: 10px;
  align-items: flex-start;
}

.p-moves {
  margin: 0px;
  width: 100px;
}

.moves {
  width: 38px;
  height: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
  margin: 0px;
  justify-content: center;
}

.contenedor-descripcion {
  padding: 0px;
  width: 312px;
  height: 32px;
}

.pokemon-descripcion {
  width: 312px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #212121;
  margin-top: 15px;
}

.base-stats {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f57d31;
  padding-top: 25px;
  margin-bottom: 0px;
}

.barra {
  width: 231px;
}

.lista-stats {
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-lista-stats {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}

.p-lista {
  margin: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
}

.p-lista-stats {
  margin: 0px;
}

.rayita {
  height: 20px;
  border-right: 0.5px solid #e0e0e0;
}

.contendor-lista-y-nombre {
  display: flex;
  align-items: flex-end;
}

li {
  list-style: none;
}

.nombres {
  padding: 0px 10px 0px 0px;
  text-align: end;
  margin-right: 10px;
  border-right: 0.5px solid #e0e0e0;
}
