@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap");

.contenedor {
  height: 640px;
  width: 320px;
  padding: 24px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  border: 12px white;
  background-color: #e5e5e5;
  align-items: center;
}

.pokeball-icono {
  width: 24px;
  height: 24px;
}

h1 {
  height: 31.9999987064671px;
  width: 235.99999046019485px;
  left: 37.0379638671875px;
  top: 178.10189819335938px;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  font-weight: 700;
  color: #212121;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 16px;
  width: 328px;
  height: 32px;
}

input {
  height: 23.999999029850326px;
  width: 327.9999867412878px;
  left: 53.0550537109375px;
  top: 268.1948699951172px;
  border-radius: 8px;
  padding: 4px, 8px, 4px, 8px;
  background: white;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 16px;
  text-align: center;
}

.contenedor-lista {
  display: grid;
  padding: 8px 0px 0px;
  gap: 5px;
  width: 328px;
  height: 360px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

span {
  font-size: 10px;
}

.filtro {
  display: flex;
  align-items: center;
}
